<div class="vh-100">
  <mat-toolbar>
    <img
      src="https://www.kuepa.com/logo-kuepa-01-ce02783ec8555816498a749b2c879fb8.png"
      width="100px"
      alt=""
    />
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="openDialog()">Sign Up</button>
    &nbsp;
    <button mat-raised-button (click)="openDialogSignIn()">Sign In</button>
  </mat-toolbar>

  <div class="container d-flex align-items-center justify-content-center h-75">
    <mat-card class="p-5">
        Holaaa
    </mat-card>
  </div>
</div>
