<div class="vh-100">
  <mat-toolbar>
    <img
      src="https://www.kuepa.com/logo-kuepa-01-ce02783ec8555816498a749b2c879fb8.png"
      width="100px"
      alt=""
    />
    <span class="example-spacer"></span>
    &nbsp;
    <img class="rounded rounded-circle" src="https://t3.ftcdn.net/jpg/03/53/11/00/360_F_353110097_nbpmfn9iHlxef4EDIhXB1tdTD0lcWhG9.jpg" width="30px">
    &nbsp;
    <span
      >{{ user.name }} -
      <span
        [ngClass]="{
          'text-success': user.role === 'moderator',
          'text-info': user.role !== 'moderator'
        }"
      >
        {{ user.role | titlecase }}
      </span>
    </span>
    &nbsp;
    <button
      type="button"
      matTooltip="Logout"
      color="warn"
      mat-mini-fab
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="container mt-4 h-75">
    <div class="row h-100">
      <div 
        class="col-12 col-md-12 col-sm-12 col-lg-6 bg-F16357 rounded mt-2 h-100 d-flex align-items-center justify-content-center"
      >
      <div class="video-container container">
        <iframe
          [src]="'https://www.youtube.com/embed/gRgTiQCRFxI' | safe"
          frameborder="0"
          allowfullscreen>
        </iframe>
      </div>
      
      </div>
      
      <div class="col-12 col-md-12 col-sm-12 col-lg-6 mt-2 h-100">
        <div class="container h-100 rounded border" style="background: #F3F2F3;">
          <app-chat />
        </div>
      </div>
    </div>
  </div>
</div>
