<div class="vh-100">
    <mat-toolbar>
      <img
        src="https://www.kuepa.com/logo-kuepa-01-ce02783ec8555816498a749b2c879fb8.png"
        width="100px"
        alt=""
      />
      <span class="example-spacer"></span>
      &nbsp;
      <span>{{ user.name }} -
        <span class="text-info">
          {{ user.role | titlecase }}
        </span>
        </span>
      &nbsp;
      <button type="button" matTooltip="Logout" color="warn" mat-mini-fab (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  
    <div class="container mt-4 h-75">
      <div class="row h-100">
        <div class="col border rounded bg-F16357 d-flex align-items-center">
          <youtube-player videoId="gRgTiQCRFxI"></youtube-player>
        </div>
        <div class="col h-100">
          <app-chat />
        </div>
      </div>
    </div>
  </div>
  
